.container-fluid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://images.hdqwalls.com/wallpapers/jett-valorant-4k-k4.jpg");

  /* Set a specific height */
  height: 75vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  margin: 25% 50% 25% 50%;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid red;
  border-color: red transparent red transparent;
  animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.pngImg {
  filter: invert(100%);   
}